<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estiloboleta.css">
</head>
<body>
    <div id="register">
        <div id="ticket">
          <h1>Thank You!</h1>
          <table>
            
            <tbody id="entries">
              
            </tbody>
            <tfoot>
              <tr>
                <th>Total</th>
                <th id="total">$0.00</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <form id="entry">
          <input id="newEntry" autofocus placeholder="How Much?">
        </form>
      </div>

      <script src="boleta.js"></script>
</body>
</html>